# Chrome Web Store
# Get credentials: https://github.com/nicedoc/chrome-webstore-upload/blob/main/How%20to%20generate%20Google%20API%20keys.md
EXTENSION_ID=
CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=

# Firefox Add-ons (AMO)
# Get credentials: https://addons.mozilla.org/en-US/developers/addon/api/key/
AMO_API_KEY=
AMO_API_SECRET=
